<nav class="main-nav" role="navigation">
    <div class="navbar-header">
        <button type="button" id="trigger-overlay" class="navbar-toggle">
            <span class="ion-navicon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="cl-effect-11"><a href="{% url 'blog:home' %}">主页</a></li>
                <li class="cl-effect-11"><a href="{% url 'blog:archive-page' %}">归档</a></li>
                <li class="cl-effect-11"><a href="{% url 'blog:about' %}">关于</a></li>
            </ul>
        </ul>
    </div><!-- /.navbar-collapse -->

</nav>