.article-toc {
    position: fixed;
    max-width: 30%;
    line-height: 50%;
}
.toc ul {
    padding-left:2em;
}
.toc >ul > li {
    list-style-type: upper-roman;
    line-height: 1em;
    color: #0f140f;
}
.toc > ul > li > ul > li {
    list-style-type: decimal;
}
.toc a:hover {
    color: #ff6900;
}