{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Base Page
        {% endblock %}
    </title>
    {% block metas %}
        <!-- meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block links %}
        <!-- css -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="{% static 'css/pace.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <script src="{% static 'js/pace.min.js' %}"></script>
        <script src="{% static 'js/modernizr.custom.js' %}"></script>
    {% endblock %}
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{% url 'blog:home' %}"><b>KuoYu's Blog</b></a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                {% block main_nav %}
                    {% include 'blog/tags/navbar.html' %}
                {% endblock %}
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>


<div class="content-body">
    <div class="container">
        <div class="row">
             <main class="col-md-8">
                {% block content %}
                    {# 添加主要内容 #}
                {% endblock %}
            </main>
            <aside class="col-md-4" style="position: relative">
                {% block right_nav %}
                    {% load blog_tags %}
                    {% show_right_nav %}
                {% endblock %}
            </aside>
        </div>
    </div>
</div>


<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2017 - 采集自<a href="http://www.cssmoban.com/"
                                                        target="_blank" title="模板之家">模板之家</a>
                    - 由<a href="http://zmrenwu.com/" title="网页模板" target="_blank">追梦人物的博客</a>修改
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'blog:home' %}">首页</a></li>
            <li><a href="{% url 'blog:about' %}">关于</a></li>
        </ul>
    </nav>
</div>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
