{% extends 'blog/blog_base.html' %}
{% block title_blk %}
    Articles
{% endblock %}


{% block content_blk %}
    {% for article in articles %}
        <a href="{% url 'index:article-find' article.id %}">{{ article }}</a>
        {# 展示article的标题 时间 作者 #}
    {% endfor %}
    <div>
    <span>
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

        {% if articles.has_next %}
            <span>
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>
            <a href="?page={{ articles.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
{% endblock %}

{% block comment_blk %}

{% endblock %}