{% extends 'blog/blog_base.html' %}
{% load blog_tags %}

{% block title_blk %}
    {{ article.title | title }}
{% endblock %}
{% block content_blk %}
    文章标签
    {% for tag in tags %}
        <a href="{% url 'index:tag-find' tag.id %}">{{ tag }}</a>
    {% endfor %}
    {{ article  }}
    <br/>
    <h3> {{ article.title | title }}</h3>
    <b>{{ article.author }}</b>
    <i>{{ article.create_date |date:"Y-m-d H:i:s"  }}</i>
    <div>{{ article.content |to_markdown }}</div>
{% endblock %}

{% block comment_blk %}
    <div style=" margin-top:20px;height:100px;width: 200px;border: 3px salmon dashed">
        {% for c in comments %}
            {{ c.guest_name }}
            {{ c.comment }}
            {{ c.date | date:"Y-m-d H:i:s" }}
        {% endfor %}
    </div>
{% endblock %}

{% block tags_blk %}
    同类型文章
    {% for s in similar %}
        <a href="{% url 'index:article-find' s.id %}">{{ s.title }}</a>
    {% endfor %}
{% endblock %}